<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>BB_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{848,885}}</string>
        <key>offset</key>
        <string>{25,-57.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{101,115},{848,885}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,0},{816,866}}</string>
        <key>offset</key>
        <string>{11,-55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{103,122},{816,866}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,866},{794,875}}</string>
        <key>offset</key>
        <string>{16,-62.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119,125},{794,875}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,885},{774,869}}</string>
        <key>offset</key>
        <string>{54,-65.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{167,131},{774,869}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{1642,866},{761,876}}</string>
        <key>offset</key>
        <string>{-4.5,-57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{115,119},{761,876}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,1741},{810,823}}</string>
        <key>offset</key>
        <string>{21,-33.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{116,122},{810,823}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,1742},{809,815}}</string>
        <key>offset</key>
        <string>{75.5,-31.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{171,124},{809,815}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{1664,0},{771,850}}</string>
        <key>offset</key>
        <string>{-10.5,-43}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{104,118},{771,850}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{2403,850},{765,852}}</string>
        <key>offset</key>
        <string>{61.5,-54}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{179,128},{765,852}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1754},{723,886}}</string>
        <key>offset</key>
        <string>{-6.5,-57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{132,114},{723,886}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{2435,0},{751,847}}</string>
        <key>offset</key>
        <string>{-23.5,-51.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{101,128},{751,847}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{2393,1742},{734,863}}</string>
        <key>offset</key>
        <string>{13,-47.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{146,116},{734,863}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,2557},{779,813}}</string>
        <key>offset</key>
        <string>{31.5,-34.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{142,128},{779,813}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{2363,2605},{798,787}}</string>
        <key>offset</key>
        <string>{-2,-16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{99,123},{798,787}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,2564},{733,851}}</string>
        <key>offset</key>
        <string>{-10.5,-41.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{123,116},{733,851}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{3127,1702},{741,840}}</string>
        <key>offset</key>
        <string>{-29.5,-44}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{100,124},{741,840}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{3168,847},{755,824}}</string>
        <key>offset</key>
        <string>{13.5,-33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{136,121},{755,824}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{3186,0},{750,828}}</string>
        <key>offset</key>
        <string>{-42,-34}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{83,120},{750,828}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{3161,2542},{728,851}}</string>
        <key>offset</key>
        <string>{-12,-41.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{124,116},{728,851}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{1456,3370},{841,727}}</string>
        <key>offset</key>
        <string>{19.5,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{99,125},{841,727}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{2297,3392},{779,784}}</string>
        <key>offset</key>
        <string>{-31.5,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{79,129},{779,784}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{3076,3393},{783,775}}</string>
        <key>offset</key>
        <string>{-24.5,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84,124},{783,775}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{3859,3393},{760,796}}</string>
        <key>offset</key>
        <string>{45,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{165,134},{760,796}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{3868,1671},{799,757}}</string>
        <key>offset</key>
        <string>{2.5,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{103,125},{799,757}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{3923,828},{772,767}}</string>
        <key>offset</key>
        <string>{74,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{188,131},{772,767}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{3889,2428},{772,751}}</string>
        <key>offset</key>
        <string>{17,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{131,120},{772,751}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{3936,0},{710,814}}</string>
        <key>offset</key>
        <string>{-22,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{123,113},{710,814}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2640},{679,834}}</string>
        <key>offset</key>
        <string>{-18.5,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{142,122},{679,834}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{3076,4168},{701,803}}</string>
        <key>offset</key>
        <string>{-27.5,-23.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{122,122},{701,803}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{3777,4189},{717,784}}</string>
        <key>offset</key>
        <string>{11.5,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{153,120},{717,784}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,3415},{650,858}}</string>
        <key>offset</key>
        <string>{42,-62}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{217,133},{650,858}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{1329,4097},{696,799}}</string>
        <key>offset</key>
        <string>{-7,-16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{145,117},{696,799}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{2025,4176},{740,746}}</string>
        <key>offset</key>
        <string>{32,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{162,120},{740,746}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{4646,0},{720,758}}</string>
        <key>offset</key>
        <string>{22,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{162,121},{720,758}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{4494,4189},{724,742}}</string>
        <key>offset</key>
        <string>{44,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{182,134},{724,742}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{4619,3179},{791,667}}</string>
        <key>offset</key>
        <string>{2.5,42.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{107,124},{791,667}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3474},{630,829}}</string>
        <key>offset</key>
        <string>{-46,-40.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{139,126},{630,829}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,4303},{759,681}}</string>
        <key>offset</key>
        <string>{3.5,28.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{124,131},{759,681}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{4667,1595},{656,755}}</string>
        <key>offset</key>
        <string>{-13,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{159,125},{656,755}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>BB_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{4661,2428},{687,711}}</string>
        <key>offset</key>
        <string>{42.5,9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{199,135},{687,711}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>BB.png</string>
      <key>size</key>
      <string>{5410,4984}</string>
      <key>textureFileName</key>
      <string>BB</string>
    </dict>
  </dict>
</plist>
